$dark: #222222;
$red: #f10e34;
$main-color: #f3f3f3;

body {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	background-color: $main-color;
	height: 10000px;
}
h2 {
	text-transform: uppercase;
	font-size: 1.833em;
	font-weight: 700;
	padding: 1em;
}
hr {
	margin-top: -2em;
    margin-bottom: 2em;
    width: 95%;
    opacity: 0.3; 
}
.i-flex {
	display: inline-flex;
}
.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.j-content-end {
  	display: -webkit-flex;
  	display: -moz-flex;
  	display: -ms-flex;
  	display: -o-flex;
  	display: flex;
  	justify-content: flex-end;
}
.align-items-c {
	align-items: center;
}
.mt {
	margin-top: 1em;
}
.icon-star-empty {
	font-size: 1.5em;
}
/*HEADER*/
.header {
	height: 9.5em;
	background-color: $dark;
	.top-menu__list {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		list-style: none;
		.top-menu__item {
			position: relative;
			&:first-child:before {
				display: none;
			}
			.top-menu__link {				
				text-decoration: none;
				color: #fff;
				margin-right: 2.5em;				
			}
			&:before {
				content: " ";
				position: absolute;
				top: 15%;
				left: -1.167em;
				display: block;
				width: 0.167em;
				background-color: #fff;
				height: 0.917em;			
			}
		}
	}
	.search {
		position: relative;
			.search-input {
				width: 44.167em;
				padding: 1.2em 0em 1.2em 2.25em;
				border: none;
				border-radius: 0.33em;
			}
			.search-icon {
				position: absolute; 
		  		top: 0;
		  		right: 0;
		  		width: 4.5em;
		  		height: 3.5em;
		  		border: none;
		  		background: $red;
		  		border-radius: 0 0.33em 0.33em 0;
		  		cursor: pointer;
			}
			.icon-search {
				color: #fff;
			}
	}
	
	.basket {
		color: #fff;
		.basket__icon {
			width: 3.3em;
			height: 3.3em;
			background-color: $red;
			border-radius: 50%;
			margin-left: 3.5em;
			transition: all linear .3s;
			border: 1px solid transparent;
			&:before {
				vertical-align: middle;
			    margin-top: 0.8em;
			    margin-left: 0.7em;
			    font-size: 1.3em;
			}
			&:hover {
				cursor: pointer;
				background-color: white;
				color: $red;
				border: 1px solid $red;
			}
		}
		.basket__text {
			text-transform: uppercase;
			margin-top: 0.25em;
			margin-left: 1em;
			margin-bottom: 0.6em;
		}
		.basket__currency {
			font-weight: 700;
			margin-left: 0.4em;
			font-size: 1.167em;
		}
	}

}
/*Top Navigation*/
.navigation {
	background-color: $red;
	padding: .5em 0;
	&-bar__list {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;		
	}
	&-bar__item {
		list-style: none;
		margin-right: 4.5em;
		&:last-child {
			margin-right: 0;
		}
		&:first-child {
			margin-right: 16.67em;
			margin-left: -2.5em;
			font-weight: 700;
		}
	}
	&-bar__link {
		text-decoration: none;
		text-transform: uppercase;
		color: white;	
	}
	&-bar__icon {
		font-size: 1.25em;
		color: white;
	}
}
/*Top Navigation END*/

/*Main menu and banner*/
.main-menu {
	background-color: white;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	&__list {
		padding-left: 0;
		margin-left: 1.25em;
	}
		&__item {
			position: relative;
			list-style: none;
			padding-bottom: 3em;
			&:last-child {
				padding-bottom: 1em;
				&:after {
					display: none;
				}
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				bottom: 1.66em;
				width: 15em;
				height: 0.083em;
				background-color: #a9a9a9;
				opacity: 0.3;
			}
		}
		&__link {
			text-decoration: none;
			color: #222222;
			font-size: 1.25em;
		}
		&__icon {
			display: inline-block;
			font-size: 1.1em;
			color: #a6a6a6;
			vertical-align: text-top;		
		}

}
.main-banner {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	&__wrap {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		width: 54.4em;
    	margin-left: 1.35em;
		margin-top: -0.33em;
		background-color: $red;
		color: white;
		font-size: 1.25em;
		text-align: center;
		.col-4 {
			padding: 2em 0em 0.33em 0em;
		}
	}
	&__button {
		position: absolute;
		bottom: 29%;
    	left: 18%;
		text-transform: uppercase;
		transition: all linear .3s;
		padding: 0.5em 2em;
		font-size: 1.45em;
		background-color: transparent;
		cursor: pointer;
		border: 1px solid #000;
		&:hover {
			background-color: $red;
			color: #fff;
			border: 1px solid #red;
		}
	}
	&__span {
		text-transform: uppercase;
		letter-spacing: 0.25em;
	}
	&__text {
		margin-top: 0.5em;
		opacity: 0.9;
	}
}

/*Main menu and banner END*/
/*Main section*/
.main-section__wrap {
	background-color: white;
}
.hot-deals {
	position: 2.5em;
	&__price {
		font-size: 1.5em;
		text-align: center;
		&--old {
			margin-right: 1em;
			color: #636363;
		}
		&--new {
			font-weight: 700;
		}
	}
	&__text {
		text-align: center;
		font-size: 1.5em;
		color: #636363;
	}
	&__icon {
		text-align: center;
		padding: 1em 0em 2.5em 0em;		
		&--full:hover:before {
			content: '\e803';
			cursor: pointer;
			color: #ffc808;
		}
	}
}
/*Slick slider fix css for hot-deals*/
.hot-deals .slick-dots {
	display: none!important;	
}
.hot-deals .slick-next {
    right: 12px;
}
.hot-deals .slick-prev {
    left: 190px;
}
.hot-deals .slick-prev, .hot-deals .slick-next {
    top: -17%;
}
.hot-deals .slick-prev:before, .hot-deals .slick-next:before {
    font-size: 25px;
    opacity: 1;
    color: #cacaca;
}
.hot-deals .slick-prev:hover:before, .hot-deals .slick-next:hover:before {
	color: $red;
}
.new-products {
	position: 2.5em;
	&__price {
		font-size: 1.5em;
		text-align: center;
		&--old {
			margin-right: 1em;
			color: #636363;
		}
		&--new {
			font-weight: 700;
		}
	}
	&__text {
		text-align: center;
		font-size: 1.5em;
		color: #636363;
	}
	&__icon {
		text-align: center;
		padding: 1em 0em 2.5em 0em;		
		&--full:hover:before {
			content: '\e803';
			cursor: pointer;
			color: #ffc808;
		}
	}
	img {
		margin-left: 1.2em;
		
	}
}
/*Slick slider fix css for new-products*/
.new-products .slick-dots {
	display: none!important;	
}
.new-products .slick-next {
    right: 12px;
}
.new-products .slick-prev {
   	left: 760px;
}
.new-products .slick-prev, .new-products .slick-next {
    top: -17%;
}
.new-products .slick-prev:before, .new-products .slick-next:before {
    font-size: 25px;
    opacity: 1;
    color: #cacaca;
}
.new-products .slick-prev:hover:before, .new-products .slick-next:hover:before {
	color: $red;
}
.newsletter {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	h2 {
		padding-top: 0;
		margin-left: -0.5em;
	}
	&__input {
		background-color: #f3f3f3;
		border: none;
		outline: none;
		padding: 1.2em;
		width: 20em;
		border-radius: 0.5em;
		margin-bottom: 2em;
	}
	&__button {
		background-color: #f22f49;
		border: solid 1px transparent;
		border-radius: 1.2em;
		outline: none;
		cursor: pointer;
		width: 10em;
		padding: 1em;
		color: white;
		text-transform: uppercase;
		font-size: 1.33em;
		font-weight: 700;
		transition: all linear .3s;
		&:hover {
			background-color: transparent;
			color: $red;
			border: solid 1px $red;
		}
	}
	&__text {
		font-size: 1.25em;
		color: #3d3d3d;
		margin-bottom: 2em;
	}
	&__wrap {
		margin-left: .7em;
		margin-bottom: 2em;
	}
}
.fashion-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	background-color: white;
	transition: all linear .3s;
	&:hover {
		cursor: pointer;
		 -webkit-box-shadow: -2px 14px 10px -4px rgba(0,0,0,0.21);
			-moz-box-shadow: -2px 14px 10px -4px rgba(0,0,0,0.21);
			     box-shadow: -2px 14px 10px -4px rgba(0,0,0,0.21);
	}
	&__text {
		position: relative;
		&:before {
			position: absolute;
			left: -73px;
		    content: '';
		    width: 0;
		    height: 0;
		    border-style: solid;
		    border-width: 231px 73px 1px 0;
		    border-color: transparent #fff transparent transparent;
		}
		&-year {
			font-size: 4em;
			color: #dedadb;
			font-weight: 700;
		}
		&-descr {
			font-size: 1.5em;
			text-transform: uppercase;
			font-weight: 700;
		}
		&-link {
			font-weight: 700;
			text-transform: uppercase;
			font-size: 1.5em;
			color: #0f8ce9;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		&-info {
			opacity: 0.7;
		}
	}
	
}


/*Main section END*/